img {
  max-width: 400px;
}

.top {
  margin-left: 10px;
  margin-right: 10px;
}

.form-big {
  width: 600px;
  height: 190px;
  border: 1px solid #999999;
  padding: 5px;
}
#carousel-example-generic {
  max-width: 500px;
  max-height: 500px;
  padding-left: 300px;
}
