<nav class="navbar navbar-default">
 {{#link-to 'index'}}Home{{/link-to}}
 <!-- {{#link-to 'admin'}}Admin{{/link-to}} -->
</nav>


<header class="jumbotron">
  <h1>BUSTLECLONE</h1>
</header>

<div class="conatainer">
  {{outlet}}
</div>

<hr>

<footer>
  {{#link-to 'index'}}Go Home, you're drunk.{{/link-to}}
</footer>
